@page "/addproduct"
@inject NavigationManager Navigation

<EditForm Model="product" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Name</label>
        <InputText @bind-Value="product.Name" />
        <ValidationMessage For="() => product.Name" />
    </div>

    <div>
        <label>Image URL</label>
        <InputText @bind-Value="product.Image" />
        <ValidationMessage For="() => product.Image" />
    </div>

    <div>
        <label>Price</label>
        <InputNumber @bind-Value="product.Price" />
        <ValidationMessage For="() => product.Price" />
    </div>

    <div>
        <label>Description</label>
        <InputTextArea @bind-Value="product.Description" />
        <ValidationMessage For="() => product.Description" />
    </div>

    <button type="submit">Add Product</button>
</EditForm>

@code {
    private Product product = new();

    private void HandleValidSubmit()
    {
        product.Id = ProductStore.Products.Count + 1;
        ProductStore.Products.Add(product);
        Navigation.NavigateTo("/products");
    }
}

@code{

    const string username = "username";

    void newButton()
    {
        Navigation.NavigateTo("newjournal");
    }

}